.wrapper
  .pickup_category__containerCategory
    %h2.pickup_category__containerCategory__title
      ピックアップカテゴリー
    .pickup_category__containerCategory__product

      .pickup_category__containerCategory__product--head
        = link_to "#", class: "pickup_category__products--head" do
          %h3.products--head-title 新規投稿商品
      .pickup_category__containerCategory__product--lists

        .pickup_category__containerCategory__product--lists__list
          %figure.pickup_category__product__images
            = image_tag 'https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/18/beef.JPG', class: "pickup_category__product__images--image"
          .pickup_category__containerCategory__product--lists__list--body
            %h3.pickup_category__product--name
              hoge1
            .pickup_category__containerCategory__product--lists__list--body__details
              %ul.pickup_category__details__menu
                %li
                  100円
                %li ★1
            %p.pickup_category__taxIncluded （税込）
        .pickup_category__containerCategory__product--lists__list
          %figure.pickup_category__product__images
            = image_tag 'https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/16/IMG_9072.JPG', class: "pickup_category__product__images--image"
          .pickup_category__containerCategory__product--lists__list--body
            %h3.pickup_category__product--name
              hoge2
            .pickup_category__containerCategory__product--lists__list--body__details
              %ul.pickup_category__details__menu
                %li
                  200円
                %li ★2
            %p.pickup_category__taxIncluded （税込）
        .pickup_category__containerCategory__product--lists__list
          %figure.pickup_category__product__images
            = image_tag 'https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png', class: "pickup_category__product__images--image"
          .pickup_category__containerCategory__product--lists__list--body
            %h3.pickup_category__product--name
              hoge3
            .pickup_category__containerCategory__product--lists__list--body__details
              %ul.pickup_category__details__menu
                %li
                  300円
                %li ★3
            %p.pickup_category__taxIncluded （税込）
        .pickup_category__containerCategory__product--lists__list
          %figure.pickup_category__product__images
            = image_tag 'https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png', class: "pickup_category__product__images--image"
          .pickup_category__containerCategory__product--lists__list--body
            %h3.pickup_category__product--name
              hoge4
            .pickup_category__containerCategory__product--lists__list--body__details
              %ul.pickup_category__details__menu
                %li
                  400円
                %li ★4
            %p.pickup_category__taxIncluded （税込）
        .pickup_category__containerCategory__product--lists__list
          %figure.pickup_category__product__images
            = image_tag 'https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png', class: "pickup_category__product__images--image"
          .pickup_category__containerCategory__product--lists__list--body
            %h3.pickup_category__product--name
              hoge5
            .pickup_category__containerCategory__product--lists__list--body__details
              %ul.pickup_category__details__menu
                %li
                  500円
                %li ★5
            %p.pickup_category__taxIncluded （税込）







