.wrapper
  .pickup_category__containerCategory
    %h2.pickup_category__containerCategory__title
      ピックアップカテゴリー
    .pickup_category__containerCategory__product
      .pickup_category__containerCategory__product--head
        = link_to "products", class: "pickup_category__products--head" do
          %h3.products--head-title 新規投稿商品
      .pickup_category__containerCategory__product--lists
        - @products.each do |product|
          -if product.trading_status == 2
            .pickup_category__containerCategory__product--lists__list
              = link_to "#" do
                %figure.pickup_category__product__images
                  -# 商品一覧実装時はテスト画像利用のためコメントアウト。次回実装時にお使いくださいませ。
                  -# = image_tag product.images.first.image.url
                  = image_tag 'T-shirt.png',alt: "image_url", class:"pickup_brand__product__images--image"
                .pickup_category__containerCategory__product--lists__list--body
                  %h3.pickup_category__product--name
                    = product.product_name
                  .pickup_category__containerCategory__product--lists__list--body__details
                    %ul.pickup_category__details__menu
                      %li
                        = product.price.to_s(:delimited)
                        円
                      %li
                        = icon('fa', 'star')
                        0
                  %p.pickup_category__taxIncluded (税込)
                .pickup_category__containerCategory__product--lists__list__sold
                  .pickup_category__containerCategory__product--lists__list__sold__inner
                    sold
          - else
            .pickup_category__containerCategory__product--lists__list
              = link_to "#" do
                %figure.pickup_category__product__images
                  -# 商品一覧実装時はテスト画像利用のためコメントアウト。次回実装時にお使いくださいませ。
                  -# = image_tag product.images.first.image.url
                  = image_tag 'TankTop.png',alt: "image_url", class:"pickup_brand__product__images--image"
                .pickup_category__containerCategory__product--lists__list--body
                  %h3.pickup_category__product--name
                    = product.product_name
                  .pickup_category__containerCategory__product--lists__list--body__details
                    %ul.pickup_category__details__menu
                      %li
                        = product.price.to_s(:delimited)
                        円
                      %li
                        = icon('fa', 'star')
                        0
                  %p.pickup_category__taxIncluded (税込)

