.contents
  .contents__logo
    .contents__logo__FURIMA
      = link_to "root_path" do
        = image_tag 'logo/logo.png', alt: 'logo', class: 'top-logo'
  .contents__detail
    .contents__detail__title
      .contents__detail__title__confirm
        %b 購入内容の確認
    .contents__detail__pic
      .contents__detail__pic__confirm
        = image_tag 'pict/beef.jpg', alt: 'beef', class: 'beef-pic'
    .contents__detail__price
      .contents__detail__price__confirm
        %b 支払い金額
    .contents__detail__method
      .contents__detail__method__confirm
        %b 支払い方法
        - if @default_card_information.blank?
          %br /
        - else
          = "**** **** **** " + @default_card_information.last4
          - exp_month = @default_card_information.exp_month.to_s
          - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
          = exp_month + " / " + exp_year
    .contents__detail__address
      .contents__detail__address__confirm
        %b 配送先
    .contents__detail__caution
      .contents__detail__caution__confirm
        郵便局/コンビニ受取をご希望の方は、購入後に取引画面から受取場所を変更をすることが可能です。出品者が発送作業を開始した後は受取場所の変更ができませんので、早めに変更を行ってください。
    .contents__detail__buy
      = link_to purchase_completed_product_path(@product), method: :post do
        %button.contents__detail__buy__confirm
          購入する
  .contents__footer
    .contents__footer__code
      %ul.lists
        %li.list プライバシーポリシー
        %li.list FURIMA利用規約
        %li.list 特定商取引に関する表記
    .contents__footer__logo
      .contents__footer__logo__rights
        = image_tag 'logo/logo-white.png', alt: 'logo-white', class: 'footer-logo'
      .contents__footer__logo__text
        ©︎FURIMA
