.header__box
  .header__box__main
    .main__icon
      = link_to root_path do
        = image_tag 'logo/logo.png', alt: 'title', height: '41', width: '140'
    .main__search
      = form_with(url: "#", local: true, method: :get, class: "search-form") do |form|
        = form.text_field :keyword, placeholder: "キーワードから探す", class: "search-input"
        = button_tag type: "submit", class: "search-btn" do
          %i.fas.fa-search.fa-lg
  .header__box__action

    %ul.action__list
      %li.list__category
        = link_to "#" do
          カテゴリー

      %li.list__brand
        = link_to "#" do
          ブランド
    %ul.action__user
      %li.user__login
        = link_to root_path, class: "login_btn" do
          ログイン
      %li.user__new
        = link_to root_path, class: "new_btn" do
          新規会員登録

.breadcrumbs
  %ul.breadcrumbs__test
    %li.link
      =link_to "#", class: "link__text" do
        FURIMA
    %li.link
      = icon("fa", "angle-right")
    %li.link
      =link_to "#", class: "link__text" do
        = @product_s.category.root.name
    %li.link
      = icon("fa", "angle-right")
    %li.link
      =link_to "#", class: "link__text" do
        = @product_s.category.parent.name
    %li.link
      = icon("fa", "angle-right")
    %li.link
      =link_to "#", class: "link__text" do
        = @product_s.category.name
    %li.link
      = icon("fa", "angle-right")
    %li.link
      =link_to "#", class: "link__text" do
        = @product_s.product_name
  
.main-contents
  .main__show
    .contents
      .contents__text
        %h2.image-name
          = @product_s.product_name
      .contents__image
        = image_tag @image.image.url, class: "beef-image"
        .contents__image__small
          - @product_s.images.each do |image|
            = image_tag image.image.url
        .contents__price
          %span.price
            ¥
            = @product_s.price
        .contents__tax
          %span.tax
            (税込)送料込み
      .detail
        = @product_s.product_detail
      - if @product.user == current_user || !user_signed_in?
      - else
        .contents__sellBtn
          = link_to purchase_check_product_path(@product), class: "purchaseBtn", method: :get do
            .link__sellBtn__text
              購入画面に進む
      .contents__table
        %table.main-table
          %tr.table
            %th.left-table 出品者
            %th.right-table 
              = @product_s.user.nickname
          %tr.table
            %th.left-table カテゴリー
            %th.right-table
              %ul
                %li
                  = @product_s.category.root.name
                %li
                  = @product_s.category.parent.name
                %li
                  = @product_s.category.name
          %tr.table
            %th.left-table ブランド
            %th.right-table
              = @product_s.brand
          %tr.table
            %th.left-table 商品のサイズ
            %th.right-table
              -if @product_s.delivery_time.id == 1 
                XXS以下
              -if @product_s.delivery_time.id == 2
                XS(SS)          
              -if @product_s.delivery_time.id == 3
                S
              -if @product_s.delivery_time.id == 4
                M
              -if @product_s.delivery_time.id == 5
                L            
              -if @product_s.delivery_time.id == 6
                XL(LL)
              -if @product_s.delivery_time.id == 7 
                2XL(3L)
              -if @product_s.delivery_time.id == 8
                3XL(4L)           
              -if @product_s.delivery_time.id == 9
                4XL(5L)
              -if @product_s.delivery_time.id == 10
                FREE SIZE
          %tr.table
            %th.left-table 商品の状態
            %th.right-table 
              -if @product_s.product_status.id == 1 
                新品、未使用
              -if @product_s.product_status.id == 2
                未使用に近い
              -if @product_s.product_status.id == 3
                目立った傷や汚れなし
              -if @product_s.product_status.id == 4
                やや傷や汚れあり
              -if @product_s.product_status.id == 5
                傷や汚れあり
              -if @product_s.product_status.id == 6
                全体的に状態が悪い
          %tr.table
            %th.left-table 配送料の負担
            %th.right-table 
              -if @product_s.delivery_fee.id == 1 
                送料込み (出品者負担)
              -if @product_s.delivery_fee.id == 2
                着払い (購入者負担)
          %tr.table
            %th.left-table 発送元の地域
            %th.right-table
              =link_to "#", class: "table-category" do
                = @product_s.delivery_area
          %tr.table
            %th.left-table 発送日の目安
            %th.right-table
              -if @product_s.delivery_fee.id == 1 
                1~2日で発送
              -if @product_s.delivery_fee.id == 2
                2~3日で発送            
              -if @product_s.delivery_fee.id == 3
                4~7日で発送
      .contents__option
        %ul.options
          %li.favorite
            = icon('fa', 'star')
            お気に入り 1
        %ul.options
          %li.report
            = icon('fa', 'flag')
            不適切な商品の通報
      .contents__relations
        .contents__relations--product
          .products
            =link_to "#", class: "relation" do
              レディースをもっと見る
            .relation-picture
              =link_to image_tag(src= "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png", class: "curryrice"), "#"
              .image__text
                %h3.product-name
                  product1
                %ul.image-price
                  %li.price-test 10000円
                  %li
                    = icon('far', 'thumbs-up')
                  1
                %p.tax-include
                  (税込)
      - if @product.user == current_user
        .contents__delete
          = link_to 'この商品を削除する', product_path(@product), method: :delete, data: { confirm: 'この商品を削除してよろしいですか' }, class:"contents__delete--btn"
      -if @product.user == current_user
        .contents__edit
          = link_to "この商品を編集する", edit_product_path(@product.id), class: 'contents__edit--btn'
= render "items/app_banner"
= render "items/footer"
= render "items/display_btn"
